---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coralogix.com
  resources:
  - alerts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coralogix.com
  resources:
  - alerts/finalizers
  verbs:
  - update
- apiGroups:
  - coralogix.com
  resources:
  - alerts/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coralogix.com
  resources:
  - apikeys
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coralogix.com
  resources:
  - apikeys/finalizers
  verbs:
  - update
- apiGroups:
  - coralogix.com
  resources:
  - apikeys/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coralogix.com
  resources:
  - outboundwebhooks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coralogix.com
  resources:
  - outboundwebhooks/finalizers
  verbs:
  - update
- apiGroups:
  - coralogix.com
  resources:
  - outboundwebhooks/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coralogix.com
  resources:
  - recordingrulegroupsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coralogix.com
  resources:
  - recordingrulegroupsets/finalizers
  verbs:
  - update
- apiGroups:
  - coralogix.com
  resources:
  - recordingrulegroupsets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coralogix.com
  resources:
  - rulegroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coralogix.com
  resources:
  - rulegroups/finalizers
  verbs:
  - update
- apiGroups:
  - coralogix.com
  resources:
  - rulegroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coralogix.com
  resources:
  - teams
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coralogix.com
  resources:
  - teams/finalizers
  verbs:
  - update
- apiGroups:
  - coralogix.com
  resources:
  - teams/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - monitoring.coreos.com
  resources:
  - alertmanagerconfigs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules
  verbs:
  - get
  - list
  - watch
