apiVersion: coralogix.com/v1beta1
kind: Alert
metadata:
  labels:
    app.kubernetes.io/name: alert
    app.kubernetes.io/instance: alert-sample
    app.kubernetes.io/part-of: coralogix-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: coralogix-operator
  name: flow
spec:
  name: flow alert example
  description: alert from k8s operator
  priority: p1
  entityLabels:
    alert_type: security
    security_severity: high
  alertType:
    flow:
      stages:
        - timeframeMs: 1000
          timeframeType: upTo
          flowStagesType:
            groups:
              - alertDefs:
                  - alertRef:
                      resourceRef:
                        name: logs-new-value
                  - alertRef:
                      resourceRef:
                        name: metric-threshold
                    not: true
                nextOp: and
                alertsOp: or
        - timeframeMs: 1000
          timeframeType: upTo
          flowStagesType:
            groups:
              - alertDefs:
                  - alertRef:
                      resourceRef:
                        name: logs-new-value
                  - alertRef:
                      resourceRef:
                        name: logs-threshold
                    not: true
                nextOp: and
                alertsOp: or
      enforceSuppression: false
  notificationGroup:
    router:
      notifyOn: triggeredAndResolved
    