apiVersion: coralogix.com/v1beta1
kind: Alert
metadata:
  labels:
    app.kubernetes.io/name: alert
    app.kubernetes.io/instance: alert-sample
    app.kubernetes.io/part-of: coralogix-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: coralogix-operator
  name: logs-threshold
spec:
  name: logs-threshold alert example
  description: alert from k8s operator
  entityLabels:
    alert_type: security
    security_severity: high
  alertType:
    logsThreshold:
      logsFilter:
        simpleFilter:
          luceneQuery: remote_addr_enriched:/.*/
          labelFilters:
            applicationName:
              - operation: includes
                value: nginx
              - operation: endsWith
                value: "1.29"
            subsystemName:
              - operation: is
                value: webapp
            severity: [ "warning", "info" ]
      noDataPolicy:
        state: alerting
        autoRetireSeconds: 1800
      evaluationDelayMs: 30000
      notificationPayloadFilter: [ "coralogix.metadata.sdkId" ]
      rules:
        - condition:
            timeWindow:
              specificValue: 5m
            threshold: "100.4"
            logsThresholdConditionType: moreThan
          override:
            priority: p3
  notificationGroup:
    webhooks:
    router:
      notifyOn: triggeredAndResolved