apiVersion: coralogix.com/v1beta1
kind: Alert
metadata:
  labels:
    app.kubernetes.io/name: alert
    app.kubernetes.io/instance: alert-sample
    app.kubernetes.io/part-of: coralogix-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: coralogix-operator
  name: logs-new-value
spec:
  name: logs-new-value alert example
  description: alert from k8s operator
  priority: p3
  entityLabels:
    alert_type: security
    security_severity: high
  alertType:
    logsNewValue:
      logsFilter:
        simpleFilter:
          luceneQuery: remote_addr_enriched:/.*/
          labelFilters:
            applicationName:
              - operation: includes
                value: nginx
              - operation: endsWith
                value: "1.29"
            subsystemName:
              - operation: is
                value: webapp
            severity: [ "warning", "info" ]
      rules:
        - condition:
            keypathToTrack: "response_time"
            timeWindow:
              specificValue: 12h
      notificationPayloadFilter: [ "coralogix.metadata.sdkId" ]
  notificationGroup:
    router:
      notifyOn: triggeredAndResolved