apiVersion: coralogix.com/v1beta1
kind: Alert
metadata:
  labels:
    app.kubernetes.io/name: alert
    app.kubernetes.io/instance: alert-sample
    app.kubernetes.io/part-of: coralogix-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: coralogix-operator
  name: metric-threshold
spec:
  name: metric-threshold alert example
  description: alert from k8s operator
  entityLabels:
    alert_type: security
    security_severity: high
  alertType:
    metricThreshold:
      metricFilter:
        promql: |
          sum(rate(http_requests_total{job="api-server"}[5m])) by (status)
      missingValues:
        minNonNullValuesPct: 60
      noDataPolicy:
        state: ok
        autoRetireSeconds: 3600
      evaluationDelayMs: 60000
      rules:
        - condition:
            threshold: "100.4"
            forOverPct: 20
            ofTheLast:
              dynamicDuration: 1h15m
            conditionType: moreThan
          override:
            priority: p4
  notificationGroup:
    router:
      notifyOn: triggeredAndResolved