apiVersion: coralogix.com/v1beta1
kind: Alert
metadata:
  labels:
    app.kubernetes.io/name: alert
    app.kubernetes.io/instance: alert-sample
    app.kubernetes.io/part-of: coralogix-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: coralogix-operator
  name: slo-threshold-alert-error-budget-example
spec:
  name: SLO Error Budget Alert
  description: SLO Alert, Error Budget
  entityLabels:
    alert_type: security
    security_severity: high
  priority: p4
  alertType:
    sloThreshold:
      sloDefinition:
        sloRef:
          resourceRef:
            name: request-based-slo-example
      errorBudget:
        rules:
          - condition:
              threshold: "0.5"
  notificationGroup:
    router:
      notifyOn: triggeredOnly
---
apiVersion: coralogix.com/v1beta1
kind: Alert
metadata:
  labels:
    app.kubernetes.io/name: alert
    app.kubernetes.io/instance: alert-sample
    app.kubernetes.io/part-of: coralogix-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: coralogix-operator
  name: slo-threshold-alert-burn-rate-example
spec:
  name: SLO Burn Rate Alert
  description: SLO Alert, Burn Rate
  enabled: true
  phantomMode: false
  priority: p1
  alertType:
    sloThreshold:
      burnRate:
        rules:
          - condition:
              threshold: "1"
            override:
              priority: p1
        type:
          single:
            timeDuration:
              duration: 1
              unit: hours
      sloDefinition:
        sloRef:
          resourceRef:
            name: window-based-slo-example
  notificationGroup:
    router:
      notifyOn: triggeredOnly