apiVersion: coralogix.com/v1beta1
kind: Alert
metadata:
  labels:
    app.kubernetes.io/name: alert
    app.kubernetes.io/instance: alert-sample
    app.kubernetes.io/part-of: coralogix-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: coralogix-operator
  name: tracing-immediate
spec:
  name: tracing-immediate alert example
  description: alert from k8s operator
  priority: p5
  entityLabels:
    alert_type: security
    security_severity: high
  alertType:
    tracingImmediate:
      tracingFilter:
        simple:
          latencyThresholdMs: 30
          tracingLabelFilters:
            applicationName:
              - operation: includes
                values: [nginx]
              - operation: startsWith
                values: [subsystem-name]
            subsystemName:
              - operation: is
                values:
                  - webapp
  notificationGroup:
    router:
      notifyOn: triggeredOnly