coralogixOperator:
  image:
    repository: public.ecr.aws/w3s4j9x9/cx-operator-go-convertor
    tag: v2.0.1
  region: eu2
  domain: ""
  leaderElection:
    enabled: true
  prometheusRules:
    enabled: true
  labelSelector: {}
  namespaceSelector: {}

crds:
  create: true

serviceAccount:
  create: true

deployment:
  replicas: 1

secret:
  create: true
  data:
    apiKey: ""

securityContext:
  fsGroup: 2000
  runAsGroup: 2000
  runAsNonRoot: true
  runAsUser: 2000
  seccompProfile:
    type: RuntimeDefault

serviceMonitor:
  create: false

