name: e2e-tests
on:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - main
      - release-*
    paths-ignore:
      - "charts/**"
  pull_request:
    branches:
      - main
      - release-*
    paths-ignore:
      - "charts/**"
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    env:
      IMG: coralogix-operator-image:latest
      CORALOGIX_REGION: ${{ secrets.CORALOGIX_REGION }}
      CORALOGIX_API_KEY: ${{ secrets.CORALOGIX_API_KEY }}
      SCOPE_RECONCILE_INTERVAL_SECONDS: 30
      CONNECTOR_RECONCILE_INTERVAL_SECONDS: 30
      AWS_REGION: ${{ secrets.AWS_REGION }}
      LOGS_BUCKET: ${{ secrets.LOGS_BUCKET }}
      METRICS_BUCKET: ${{ secrets.METRICS_BUCKET }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build the controller-manager Docker image
        run: |
          make docker-build
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.4.0
      - name: Load the controller-manager image into Kind
        run: |
          kind load docker-image ${{ env.IMG }} --name chart-testing
      - name: Deploy the controller-manager
        run: |
          make deploy
      - name: Run e2e Tests
        run: |
          make e2e-tests
      - name: Collect Operator Logs
        if: always()
        run: |
          scripts/collect-logs.sh
